<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.158666198308-nagid2k7h6p2nrhuetvfcgqvc3lmq4am</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>manrope-semibold</string>
		<string>manrope-thin</string>
		<string>manrope-regular</string>
		<string>manrope-medium</string>
		<string>manrope-light</string>
		<string>manrope-extrabold</string>
		<string>manrope-bold</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera to upload your profile photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library to upload your profile photo.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Splash</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
